{% extends 'base.html' %}

{% block content %}
<main class="flex-shrink-0">
  <div class="container">
    <div>
      <h4 class="mt-5">2021年10月28日　現在</h3>
        <h5 class="mt-0">{{current_user.branch_name}}支部　現在の到達状況
      </h4>
    </div>

    <p class="mt-5 mb-5 text-justify"><span class="fw-bolder"> １．活動参加者数　</span>●党内：{#{sum_data['in_party']}#}名　　●党外：{#{sum_data['out_party']}#}名</p>
    
    <p class="mt-5 d-inline text-justify fw-bolder">２．１０．６全国総決起集会の討議　</p>
    <div class="d-inline form-inline">
      {# % if sum_data['is_debate'] > 0 % #}
        <label class="checkbox-inline"><input type="radio" disabled checked> 始めた　</label>
        <label class="checkbox-inline"><input type="radio" disabled> これから</label>
      {#% else %#}
        <label class="checkbox-inline"><input type="radio" disabled> 始めた　</label>
        <label class="checkbox-inline"><input type="radio" disabled checked> これから</label>
      {#% endif %#}
      
    </div>

    <p class="mt-5 text-justify"><span class="fw-bolder"> ３．スタンディング実施数　</span>日計：15回　　累計：723回</p>

    <p class="mt-5 text-justify fw-bolder">４．全戸ビラ配布</p>
    <table class="w-50 mt-0 table table-hover table-borderless table-sm">
      <tr>
        <td style="width: 30%">東京民報号外　配布数</td>
        <td style="width: 20%">日計：15回</td>
        <td>累計：15回</td>
      </tr>
      <tr>
        <td>赤旗号外　配布数</td>
        <td>日計：15回</td>
        <td>累計：15回</td>
      </tr>
    </table>

    <p class="mt-5 text-justify fw-bolder">５．対話・支持拡大(21区・23区を含む)</p>
    <table class="w-50 mt-0 table table-hover table-borderless table-sm">
      <tr>
        <td style="width: 30%">対話</td>
        <td style="width: 20%">日計：746名</td>
        <td>累計：15回</td>
      </tr>
      <tr>
        <td>比例支持拡大</td>
        <td>日計：661名</td>
        <td>累計：15回</td>
      </tr>
    </table>

    <p class="mt-5 text-justify fw-bolder">６．折り入って働きかけ数</p>
    <table class="w-50 mt-0 table table-hover table-borderless table-sm table-striped">
      <tr>
        <td style="width: 30%">入党働きかけ数</td>
        <td style="width: 20%">日計：0名</td>
        <td>累計：47名</td>
      </tr>
      <tr>
        <td>入党者数</td>
        <td>日計：661名</td>
        <td>累計：15回</td>
      </tr>
      <tr>
        <td>日刊紙</td>
        <td>日計：661名</td>
        <td>累計：15回</td>
      </tr>
      <tr>
        <td>日曜版</td>
        <td>日計：661名</td>
        <td>累計：15回</td>
      </tr>
      <tr>
        <td>後援会ニュース読者</td>
        <td>日計：661名</td>
        <td>累計：15回</td>
      </tr>
      <tr>
        <td>折り入って働きかけ数</td>
        <td>日計：661名</td>
        <td>累計：15回</td>
      </tr>
    </table>

    <p class="mt-5 text-justify fw-bolder">７．支部報告</p>
    Ｎ見本紙をお隣さんへ(2回目）　Ｎ配達・集金・折り入って活動　永山駅（比例）３名参加　いつもの選挙でマイ名簿で100人前後の票を読んでいる吉野氏（療養中）を欠いているため支持拡大に限度が出てきた（地域の名簿ほぼやりきった　あとは何度かけても留守のところが数カ所）

  </div>
</main>
{% endblock content %}