{% extends 'base.html' %}

{% block content %}
<main class="flex-shrink-0">
  <div class="container">
    <div>
      <h4 class="mt-5">{{report_list['date']}}　現在</h3>
        <h5 class="mt-0">{{current_user.branch_name}}支部　現在の到達状況
      </h4>
    </div>

    <p class="mt-5 text-justify"><span class="fw-bolder"> １．活動参加者数　</span></p>
    <p class="mb-5">●党内　日計：{{report_list['in_party']}}名　累計：{{total_list['in_party']}}名　　●党外　日計：{{report_list['out_party']}}名　累計：{{total_list['out_party']}}名</p>
    
    <p class="mt-5 d-inline text-justify fw-bolder">２．１０．６全国総決起集会の討議　</p>
    <div class="d-inline form-inline">
      {% if status_list['is_debate'] > 0 %}
        <label class="checkbox-inline"><input type="radio" disabled checked> 始めた　</label>
        <label class="checkbox-inline"><input type="radio" disabled> これから</label>
      {% else %}
        <label class="checkbox-inline"><input type="radio" disabled> 始めた　</label>
        <label class="checkbox-inline"><input type="radio" disabled checked> これから</label>
      {% endif %}
    </div>

    <p class="mt-5 text-justify"><span class="fw-bolder"> ３．スタンディング実施数　</span>日計：{{report_list['standing']}}回　　累計：{{total_list['standing']}}回</p>

    <p class="mt-5 text-justify fw-bolder">４．全戸ビラ配布</p>
    <table class="w-50 mt-0 table table-hover table-borderless table-sm">
      <tr>
        <td style="width: 30%">東京民報号外　配布数</td>
        <td style="width: 20%">日計：{{report_list['leaf_m']}}回</td>
        <td>累計：{{total_list['leaf_m']}}回</td>
      </tr>
      <tr>
        <td>赤旗号外　配布数</td>
        <td>日計：{{report_list['leaf_a']}}回</td>
        <td>累計：{{total_list['leaf_a']}}回</td>
      </tr>
    </table>

    <p class="mt-5 text-justify fw-bolder">５．対話・支持拡大(21区・23区を含む)</p>
    <table class="w-50 mt-0 table table-hover table-borderless table-sm">
      <tr>
        <td style="width: 30%">対話</td>
        <td style="width: 20%">日計：{{report_list['dialogue']}}名</td>
        <td>累計：{{total_list['dialogue']}}回</td>
      </tr>
      <tr>
        <td>比例支持拡大</td>
        <td>日計：{{report_list['support']}}名</td>
        <td>累計：{{total_list['support']}}回</td>
      </tr>
    </table>

    <p class="mt-5 text-justify fw-bolder">６．折り入って働きかけ数</p>
    <table class="w-50 mt-0 table table-hover table-borderless table-sm table-striped">
      <tr>
        <td style="width: 30%">入党働きかけ数</td>
        <td style="width: 20%">日計：{{report_list['workon_join']}}名</td>
        <td>累計：{{total_list['workon_join']}}名</td>
      </tr>
      <tr>
        <td>入党者数</td>
        <td>日計：{{report_list['join']}}名</td>
        <td>累計：{{total_list['join']}}回</td>
      </tr>
      <tr>
        <td>日刊紙</td>
        <td>日計：{{report_list['akahata_h']}}名</td>
        <td>累計：{{total_list['akahata_h']}}回</td>
      </tr>
      <tr>
        <td>日曜版</td>
        <td>日計：{{report_list['akahata_n']}}名</td>
        <td>累計：{{total_list['akahata_n']}}回</td>
      </tr>
      <tr>
        <td>後援会ニュース読者</td>
        <td>日計：{{report_list['support_member']}}名</td>
        <td>累計：{{total_list['support_member']}}回</td>
      </tr>
      <tr>
        <td>折り入って働きかけ数</td>
        <td>日計：{{report_list['ask_favor']}}名</td>
        <td>累計：{{total_list['ask_favor']}}回</td>
      </tr>
    </table>

    <p class="mt-5 text-justify fw-bolder">７．支部報告</p>
    {{report_list['comment']}}

  </div>
</main>
{% endblock content %}